body {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    font-family: Consolas, sans-serif;
    width: 100%;
}

.strip-container {
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 400px) {
    .strip-container {
        padding: 2em;
    }
}

.strip {
    width: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0;
    padding: 12px;
    text-align: center;
    color: #101010;
    font-family: Arial, sans-serif;
}

.strip p {
    line-height: 1.5em;
    text-indent: 2em;
}

.strip h2, h3, h4 {
    color: #101010;
    padding: 0;
    font-family: "Courier New", serif;
    font-weight: bold;
}

.strip h2 {
    font-size: 24pt;
    margin-bottom: 0.25em;
}

.strip h3 {
    font-size: 20pt;
}

.strip h4 {
    font-size: 15pt;
}

/* Cybordz */
@media (min-width: 400px) {
    .cybordz img.title {
        padding: 50px 50px 10px 50px;
        max-width: 800px;
    }
}

@media (max-width: 400px) {
    .cybordz img.title {
        max-width: 400px;
    }
}

.strip-container.cybordz {
    background-color: #0A0F1A;
}
.strip-container.cybordz .strip {
    /*background: url("../images/cybordz/hex.png") repeat fixed top left;*/
    background-size: 100px 100px;
}
.strip-container.cybordz p {
    margin-bottom: 15px;
}
.strip-container.cybordz img {
    width: 90vw;
    max-width: 765px;
    height: auto;
    position: relative;
}

#cybordz .strip-container.cybordz {
    height: auto;
}

#cybordz .strip-container.cybordz .strip {
    height: auto;
    padding: 100px 0 100px 0;
}

p {
    max-width: 700px;
    text-align: justify;
    margin: 0 auto;
    padding: 0;
}

img.logo {
    filter: drop-shadow(1px 1px 1px #AFAFAF);
}

#heading {
    height: 300px;
}

#heading img {
    margin: 0 auto;
    width: 300px;
    height: auto;
}

#heading h1 {
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 50pt;
    color: #101010;
    white-space: nowrap;
    /*text-shadow: 2px 2px 5px #69331b;*/
}

#heading.strip-container {
    padding: 0;
}

#heading .strip {
    height: 400px;
}

@media (min-width: 400px) {
    #heading .strip {
        padding: 2em;
    }
}

.transition {
    width: 100%;
    height: 1px;
}

.transition.top {
    background-color: #00FF9A;
}

.transition.bottom {
    background-color: #00FF9A;
}

a {
    text-decoration: none;
}

#footer.strip-container {
    padding: 0;
}

#footer {
    height: 200px;
    color: #101010;
}

#footer div div {
    
}

#footer img {
    width: 100px;
    height: auto;
}

#footer .discord img {
    width: 30px;
    height: auto;
    margin-right: 0.5em;
}

#footer .x img {
    height: 23px;
    width: auto;
    filter: invert(100%);
}

#footer h1 {
    font-family: 'Great Vibes', cursive;
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 15pt;
    color: #a7a490;
    white-space: nowrap;
}

#footer .strip {
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    font-family: Consolas, serif;
}

#footer a {
    margin-top: 30px;
}

#footer img {
    margin-bottom: 12px;
}

.carousel {
    margin-top: 3em;
}

.carousel-inner {
    /*left: 50%;*/
    /*-ms-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
    /*width: 100vw;*/
    /*max-width: 850px;*/
    max-width: 950px;
    margin: 0 auto;
}

.resizable-iframe {
    max-width: 650px;
    margin: 2em auto;
}

.resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0;
}

.resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.cybordz .carousel-indicators {
    position: inherit;
}
.cybordz .carousel-inner img {
    height: 500px;
}

.cybordz {
    
}

.cybordz .strip {
    color: #CBF0FF;
}


.cybordz .strip h2 {
    color: #00D4FF;
}

.cybordz h2 {
    font-size: 24pt;
    margin-top: 30px;
}

.cybordz h1.subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 17pt;
    max-width: 630px;
    margin: 15px auto;
    padding-bottom: 20px;
    font-family: Consolas, serif;
    color: #00FF9A;
}

#mc_embed_shell {
    color: #CBF0FF;
    margin-top: 40px;
    /*height: 400px;*/
    /*width: 400px;*/
    border: 0;
    text-align: left;
    max-width: 700px;
    min-width: 300px;
    padding: -1em;
}

.cybordz #mc_embed_shell {
    float: none;
    color: #CBF0FF;
    text-align: center;
    margin: 30px auto 30px;
}

#mc_embed_shell div {
    display: inline;
}

#mc_embed_shell div.description {
    display: block;
    margin-bottom: 1em;
}

#mc_embed_shell label {
    margin: 0 5px 0 0;
}

#mce-responses {
    margin: 0;
    display: none;
}

#mc_embed_shell input {
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    color: #52D6FC;
    background-color: #202020;
    margin: 0;
}

#mc_embed_shell input[type=submit] {
    background-color: #FF009D;
    font-weight: bold;
    font-family: Consolas, serif;
    color: #101010;
    margin: 0;
}

#mc_embed_shell input[type=submit]:hover {
    background-color: #00c3ff;
}